server {
    listen ${WEBAPP_PORT} default_server;
    server_name _;

    root /usr/share/nginx/html;
    index index.html;

    gzip on;
    gzip_types text/plain text/css application/javascript application/json image/svg+xml;
    gzip_min_length 1024;

    location /app/ {
        try_files $uri $uri/ /app/index.html;
    }

    location = / {
        return 302 /app/;
    }

    location = /healthz {
        add_header Content-Type text/plain;
        return 200 "ok";
    }
}
